# Backend
backend/.env
backend/.env.backup
backend/.env.production
backend/.env.testing
backend/vendor/
backend/composer.lock
backend/.phpunit.result.cache
backend/.phpunit.cache
backend/storage/*.key
backend/bootstrap/ssr
backend/public/hot
backend/public/build
backend/public/storage

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/package-lock.json

# IDE
/.fleet
/.idea
/.vscode
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log
yarn-error.log
logs
*.log